<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title><%- title %></title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/src/scss/main-2v.scss" />
  <link rel="stylesheet" href="/src/scss/main-3v.scss" />
  <script type="module" src="/src/main.js"></script>
</head>

<body>

  <%- header %>

    <section class="about_page">
      <div class="container">
        <div class="about_page_wrap row">
          <div class="col-xl-6 col-md-6">
            <div class="about_page_wrap_left">
              <h1 class="about_page_wrap_left_title">О&nbsp;бренде</h1>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="about_page_wrap_right">
              <div class="about_page_wrap_right_block">
                <h3 class="about_page_wrap_right_block_title">История</h3>
                <div class="about_page_wrap_right_block_text">
                  <p>Бренд Addicted был основан в&nbsp;2010&nbsp;году. Основная концепция&nbsp;&mdash; создание одежды
                    из&nbsp;кашемира
                    премиального качества.</p>
                  <p>Эволюция бренда: Addicted Cashmere &rarr; ADCTED<br>В&nbsp;рамках расширения концепции
                    и&nbsp;развития продуктовой
                    линейки бренд Addicted Cashmere официально изменил название на&nbsp;ADCTED.</p>
                </div>
                <div class="about_page_wrap_right_block_description">
                  <p>В&nbsp;2016 году был разработан самый узнаваемый &laquo;рваный&raquo; свитер, девушек
                    в&nbsp;котором можно встретить по
                    всему миру.<br>Сегодня в&nbsp;коллекциях Addicted можно найти как знаковые для бренда свитеры, так и
                    пуховики из&nbsp;кашемира, дубленки из&nbsp;овчины, изделия из&nbsp;кожи и&nbsp;другие модели.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="about_page_wrap_content">
              <div class="about_page_wrap_content_cards">
                <div class="about_page_wrap_content_cards_item">
                  <img src="img/about-page/about_page-1.jpg" alt="Коллекции Addicted" width="915" height="1200" loading="lazy">
                </div>
                <div class="about_page_wrap_content_cards_item">
                  <img src="img/about-page/about-page_2.jpg" alt="Качество Addicted" width="915" height="1200" loading="lazy">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="about_page_wrap_note">
              <div class="about_page_wrap_note_block">
                <h3 class="about_page_wrap_note_block_title">
                  Коллекции
                </h3>
                <div class="about_page_wrap_note_block_text">
                  <p>
                    Большое внимание в&nbsp;бренде уделяется разработке новых моделей. В&nbsp;центре
                    коллекций&nbsp;&mdash; приглушенные
                    натуральные оттенки, лаконичный крой и&nbsp;продуманные до&nbsp;миллиметра детали.
                  </p>
                  <p>
                    Прислушиваясь к&nbsp;лояльным клиентам, мы&nbsp;также постоянно добавляем новые модели
                    и&nbsp;категории. В
                    ближайшее время в&nbsp;магазинах появится коллекция спортивной одежды и&nbsp;другие модели, чтобы
                    вы&nbsp;могли
                    собрать полноценный total-look от&nbsp;Addicted.
                  </p>
                </div>
              </div>
              <div class="about_page_wrap_note_block">
                <h3 class="about_page_wrap_note_block_title">
                  Кашемир
                </h3>
                <div class="about_page_wrap_note_block_text">
                  <p>
                    Невесомый, мягкий и&nbsp;приятный к&nbsp;телу кашемир&nbsp;&mdash; это еще и&nbsp;один из&nbsp;самых
                    редких материалов. Для
                    создания наших изделий мы&nbsp;используем исключительно монгольский кашемир самого высокого
                    качества,
                    который выбирают для своих коллекций всемирно известные luxury-бренды.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="offset-xl-2 col-xl-4">
            <div class="about_page_wrap_note is-bottom">
              <div class="about_page_wrap_note_block">
                <h3 class="about_page_wrap_note_block_title">
                  Качество
                </h3>
                <div class="about_page_wrap_note_block_text">
                  <p>
                    В&nbsp;составе премиального кашемира, из&nbsp;которого шьются модели Addicted, только плотные,
                    не&nbsp;рыхлые нити.
                    Такой материал&nbsp;&mdash; на&nbsp;вес золота. Как и&nbsp;у&nbsp;золота, цена кашемира зависит
                    от&nbsp;его веса. Ведь для того,
                    чтобы его получить, вручную отбираются только самые качественные волокна высшей пробы.
                  </p>
                  <p>
                    Благодаря тщательному подбору материалов, кашемировые изделия Addicted не&nbsp;пилингуются
                    и&nbsp;служат очень
                    долго. К&nbsp;тому&nbsp;же, каждое изделие производится и&nbsp;проходит строгий контроль качества
                    на&nbsp;той&nbsp;же
                    фабрике, что и&nbsp;Celine, Khaite, Joseph, Theory и&nbsp;другие мировые бренды.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <%- footer %>
