<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/src/scss/main-2v.scss" />
    <script type="module" src="/src/main.js"></script>
</head>

<body>

    <%- header %>


        <section class="basket_stub">
            <div class="container">
                <div class="basket_stub_wrap">
                    <h1 class="basket_stub_wrap_title">Корзина</h1>
                    <div class="basket_stub_wrap_text">
                        Ваша корзина пока пуста
                    </div>
                    <a href="#" class="basket_stub_wrap_link">
                        Перейти в каталог
                    </a>
                </div>
            </div>
        </section>

        <section class="product_recommendations">
            <div class="container">
                <div class="product_recommendations_head">
                    <h2 class="product_recommendations_head_title">
                        Вы недавно смотрели
                    </h2>
                    <div class="product_recommendations_head_navigation sw_navigation">
                        <button type="button" class="product_recommendations_head_navigation_prev swiper-button-prev"
                            aria-label="Предыдущий слайд">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21"
                                fill="none">
                                <path d="M23.5 10.5L0.499999 10.5M10.3571 0.5L0.499999 10.5L10.3571 20.5" stroke="#000"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <button type="button" class="product_recommendations_head_navigation_next swiper-button-next"
                            aria-label="Следующий слайд">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewBox="0 0 24 21"
                                fill="none">
                                <path d="M0.5 10.5H23.5M13.6429 20.5L23.5 10.5L13.6429 0.5" stroke="black"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="product_recommendations_slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <img src="img/product_card-1.jpg" alt="Синий трикотажный топ" width="607"
                                        height="806" loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Синий трикотажный топ</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">12 900 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <img src="img/product_card-2.jpg" alt="Хлопковый вязаный комплект" width="607"
                                        height="806" loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Хлопковый вязаный комплект</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">21 500 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <img src="img/product_card-3.jpg" alt="Белая хлопковая майка" width="607"
                                        height="806" loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Белая хлопковая майка</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">9 800 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <div class="product_card_media_badge">Sale</div>
                                    <img src="img/product_card-4.jpg" alt="Вязаная сумка Sky" width="607" height="806"
                                        loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Вязаная сумка Sky</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">12 500 ₽</span>
                                        <span class="product_card_content_prices_price old">16 200 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <div class="product_card_media_badge">Sale</div>
                                    <img src="img/product_card-5.jpg" alt="Вязаная сумка Verde" width="607" height="806"
                                        loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Вязаная сумка Verde</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">11 900 ₽</span>
                                        <span class="product_card_content_prices_price old">15 400 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide product_recommendations_slider_card">
                            <a href="#" class="product_card">
                                <div class="product_card_media">
                                    <div class="product_card_media_badge">Sale</div>
                                    <img src="img/product_card-6.jpg" alt="Ажурный хлопковый костюм" width="607"
                                        height="806" loading="lazy">
                                </div>
                                <div class="product_card_content">
                                    <h3 class="product_card_content_title">Ажурный хлопковый костюм</h3>
                                    <div class="product_card_content_prices">
                                        <span class="product_card_content_prices_price">24 900 ₽</span>
                                        <span class="product_card_content_prices_price old">31 800 ₽</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product_recommendations_scrollbar swiper-scrollbar"></div>
            </div>
        </section>

        <%- footer %>