<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title><%- title %></title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <script type="module" src="/src/main.js"></script>
</head>

<body>

  <%- header %>

    <section class="tech_page">
      <div class="container">
        <div class="tech_page_wrap row">
          <div class="col-xl-5">
            <h1 class="tech_page_title">Доставка и&nbsp;возврат</h1>
          </div>
          <div class="col-xl-7">
            <div class="tech_page_content">
              <p>Количество стран, в&nbsp;которые мы&nbsp;доставляем изделия Addicted, постоянно растёт. Сегодня
                мы&nbsp;отправляем
                заказы по&nbsp;России и&nbsp;всему миру, а&nbsp;также постоянно работаем над тем, чтобы осуществлять
                доставку как можно
                быстрее и&nbsp;качественнее.</p>
              <p>Вы&nbsp;можете заказать курьерскую доставку или международное отправление&nbsp;&mdash; мы&nbsp;найдём
                возможность доставить
                заказ в&nbsp;удобное для вас время.</p>
              <p><strong>Обращаем внимание, что доставка заказов по&nbsp;Москве и&nbsp;Московской области, а&nbsp;также
                  по&nbsp;России, в
                  страны СНГ и&nbsp;дальнего зарубежья осуществляется только после 100% оплаты на&nbsp;сайте.</strong>
              </p>
              <h2>Доставка по&nbsp;Москве и&nbsp;Московской области</h2>
              <p>Мы&nbsp;предоставляем на&nbsp;сайте бесплатную доставку при заказе от&nbsp;50&nbsp;000&nbsp;руб.</p>
              <p>При заказе на&nbsp;меньшую сумму стоимость доставки рассчитывается по&nbsp;тарифам курьерской службы.
              </p>
              <p><strong>Обращаем внимание, при оплате заказа &laquo;Оплата Долями&raquo; стоимость доставки
                  рассчитывается по
                  тарифам курьерской службы.</strong></p>
              <p>Мы&nbsp;понимаем, как высок ритм городской жизни, и&nbsp;ценим ваше время, поэтому предусмотрели
                удобную
                курьерскую и&nbsp;экспресс-доставку с&nbsp;примеркой:</p>
              <ul>
                <li>При заказе с&nbsp;примеркой и&nbsp;покупке от&nbsp;50&nbsp;000 рублей доставка бесплатна.</li>
                <li>При заказе с&nbsp;примеркой и&nbsp;покупке на&nbsp;меньшую сумму стоимость доставки рассчитывается
                  по&nbsp;тарифам
                  курьерской службы.</li>
                <li>При заказе с&nbsp;примеркой и&nbsp;отказе от&nbsp;покупки стоимость доставки рассчитывается
                  по&nbsp;тарифам курьерской
                  службы.</li>
              </ul>
              <p>Вы&nbsp;можете оплатить заказ по&nbsp;QR-коду или выбрать опцию оплаты наличными средствами.</p>
              <p>Чтобы получить консультацию по&nbsp;оформлению заказа, вы&nbsp;можете связаться с&nbsp;нами
                по&nbsp;WhatsApp.</p>
              <h2>Доставка по&nbsp;России и&nbsp;в&nbsp;страны СНГ</h2>
              <p>Доставка по&nbsp;России и&nbsp;в&nbsp;страны СНГ осуществляется компанией СДЭК.</p>
              <p>Мы&nbsp;предоставляем бесплатную доставку при заказе от&nbsp;50&nbsp;000&nbsp;руб.</p>
              <p>При заказе на&nbsp;меньшую сумму стоимость доставки рассчитывается по&nbsp;тарифам курьерской службы.
              </p>
              <p><strong>Обращаем внимание, при оплате заказа &laquo;Оплата Долями&raquo; стоимость доставки
                  рассчитывается по
                  тарифам курьерской службы.</strong></p>
              <p><strong>Обращаем внимание граждан стран СНГ, что налоги и&nbsp;пошлины на&nbsp;покупку не&nbsp;включены
                  в&nbsp;стоимость
                  доставки. Рекомендуем уточнить данную информацию в&nbsp;таможенной службе вашей страны.</strong></p>
              <h2>Самовывоз</h2>
              <p>Самовывоз осуществляется по&nbsp;адресу: <strong>Большой Патриарший переулок,
                  12&nbsp;стр.&nbsp;1</strong>, пн-вс с
                11:00 до&nbsp;22:00.</p>
              <h2>Возврат</h2>
              <p>Вы&nbsp;можете обменять/вернуть товар, купленный на&nbsp;сайте, в&nbsp;течение 7&nbsp;дней после
                получения.</p>
              <p>Мы&nbsp;можем отказать в&nbsp;возврате, если товар является товаром, не&nbsp;подлежащим возврату
                по&nbsp;правилам торговли.
              </p>
              <p>Возврат товара осуществляется за&nbsp;счёт покупателя любым удобным способом, а&nbsp;также
                вы&nbsp;можете вернуть
                товар самостоятельно во&nbsp;флагманский бутик по&nbsp;адресу: <strong>Большой Патриарший переулок,
                  12&nbsp;стр.
                  1</strong>, пн-вс с&nbsp;11:00 до&nbsp;22:00.</p>
              <p>Чтобы получить консультацию по&nbsp;обмену/возврату товара, вы&nbsp;можете связаться с&nbsp;нами
                по&nbsp;WhatsApp.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- footer %>