<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/src/scss/main-2v.scss" />
    <link rel="stylesheet" href="/src/scss/main-3v.scss" />
    <script type="module" src="/src/main.js"></script>
</head>

<body>

    <%- header %>

        <section class="order_success">
            <div class="container">
                <div class="order_success_wrap row">
                    <div class="col-xl-6">
                        <div class="order_success_wrap_main">
                            <h1 class="order_success_wrap_main_title">Оформление заказа</h1>
                            <div class="order_success_wrap_main_block">
                                <div class="order_success_wrap_main_block_text">
                                    <p>
                                        Спасибо, Ваш заказ принят и обрабатывается, для подтверждения с Вами свяжется
                                        менеджер
                                    </p>
                                </div>
                                <a href="#" class="order_success_wrap_main_block_link">
                                    Продолжить покупки
                                </a>
                            </div>
                            <div class="order_success_wrap_main_block">
                                <div class="order_success_wrap_main_block_text">
                                    <p>
                                        Спасибо за ваш заказ! Ваш заказ принят и уже обрабатывается
                                    </p>
                                    <p>
                                        Сумма к оплате по счету: <span>58 900 ₽</span>
                                    </p>
                                </div>
                                <a href="#" target="_blank" rel="noopener noreferrer"
                                    class="order_success_wrap_main_block_link">
                                    Оплатить
                                </a>
                                <div class="order_success_wrap_main_block_footnote">
                                    Вы будете перенаправленны на страницу оплаты
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <aside class="order_success_wrap_sidebar">
                            <div class="order_success_wrap_sidebar_title">ЗАКАЗ №272</div>
                            <div class="order_success_wrap_sidebar_label">Состав заказа</div>
                            <div class="order_success_wrap_sidebar_list">
                                <div class="order_success_wrap_sidebar_list_item">
                                    <div class="order_success_wrap_sidebar_list_item_media">
                                        <img src="img/product_card-2.jpg" alt="Хлопковый вязаный комплект" width="58"
                                            height="86" loading="lazy">
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_content">
                                        <div class="order_success_wrap_sidebar_list_item_content_title">Хлопковый
                                            вязаный
                                            комплект
                                        </div>
                                        <div class="order_success_wrap_sidebar_list_item_content_meta">XL | Ivory</div>
                                        <div class="order_success_wrap_sidebar_list_item_content_note">Количество: 1
                                        </div>
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_price">21 500 ₽</div>
                                </div>
                                <div class="order_success_wrap_sidebar_list_item">
                                    <div class="order_success_wrap_sidebar_list_item_media">
                                        <img src="img/product_card-4.jpg" alt="Вязаная сумка Sky" width="58" height="86"
                                            loading="lazy">
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_content">
                                        <div class="order_success_wrap_sidebar_list_item_content_title">Вязаная сумка
                                            Sky
                                        </div>
                                        <div class="order_success_wrap_sidebar_list_item_content_meta">One size | Sky
                                        </div>
                                        <div class="order_success_wrap_sidebar_list_item_content_note">Количество: 1
                                        </div>
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_price">12 500 ₽</div>
                                </div>
                                <div class="order_success_wrap_sidebar_list_item">
                                    <div class="order_success_wrap_sidebar_list_item_media">
                                        <img src="img/product_card-6.jpg" alt="Ажурный хлопковый костюм" width="58"
                                            height="86" loading="lazy">
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_content">
                                        <div class="order_success_wrap_sidebar_list_item_content_title">Ажурный
                                            хлопковый
                                            костюм
                                        </div>
                                        <div class="order_success_wrap_sidebar_list_item_content_meta">M | Natural</div>
                                        <div class="order_success_wrap_sidebar_list_item_content_note">Количество: 1
                                        </div>
                                    </div>
                                    <div class="order_success_wrap_sidebar_list_item_price">24 900 ₽</div>
                                </div>
                            </div>
                            <div class="order_success_wrap_sidebar_totals">
                                <div class="order_success_wrap_sidebar_totals_item">
                                    <span>Стоимость товаров:</span>
                                    <span>58 900 ₽</span>
                                </div>
                                <div class="order_success_wrap_sidebar_totals_item">
                                    <span>Доставка:</span>
                                    <span>Бесплатно</span>
                                </div>
                                <div class="order_success_wrap_sidebar_totals_item is-total">
                                    <span>Итого</span>
                                    <span>58 900 ₽</span>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>

        <%- footer %>
