<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title><%- title %></title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/src/scss/main-2v.scss" />
  <link rel="stylesheet" href="/src/scss/main-3v.scss" />
  <script type="module" src="/src/main.js"></script>
</head>

<body>

  <%- header %>

    <section class="access_page">
      <div class="container">
        <div class="row">
          <div class="offset-xl-4 col-xl-4 offset-md-3 col-md-6">
            <div class="typ_recovery_wrap_form_block">
              <h1 class="typ_recovery_wrap_form_block_title">
                Восстановление пароля
              </h1>
              <form action="" method="post" class="custom_form" id="account-recovery-form">
                <div class="custom_form_item is-text" data-error-required="Введите email"
                  data-error-invalid="Введите корректный email">
                  <input type="email" name="email" value="" required autocomplete="email" placeholder="Email">
                  <div class="custom_form_item_error" aria-hidden="true">
                    <div class="custom_form_item_error_tooltip">Введите email</div>
                    <div class="custom_form_item_error_icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M6.21349 1.10533C6.9506 -0.368439 9.05353 -0.368447 9.79064 1.10533L15.7906 13.1073C16.4551 14.437 15.4881 16.0008 14.0016 16.0008H2.00255C0.51598 16.0008 -0.450941 14.437 0.213489 13.1073L6.21349 1.10533ZM7.0797 11.5819V13.2303H8.92638V11.5819H7.0797ZM7.13634 3.99302V6.6522L7.57677 10.6737H8.41564L8.86974 6.63951V3.99302H7.13634Z"
                          fill="#D22D2D" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="custom_form_item is-captcha" data-error-required="Введите слово с картинки">
                  <div class="custom_form_item_label">
                    Введите слово на картинке
                  </div>
                  <div class="custom_form_item_block">
                    <img src="img/captcha.png" alt="Капча">
                  </div>
                  <input type="text" name="captcha" value="" required autocomplete="off" autocapitalize="off"
                    autocorrect="off" spellcheck="false">
                  <div class="custom_form_item_error" aria-hidden="true">
                    <div class="custom_form_item_error_tooltip">Введите слово с картинки</div>
                    <div class="custom_form_item_error_icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                          d="M6.21349 1.10533C6.9506 -0.368439 9.05353 -0.368447 9.79064 1.10533L15.7906 13.1073C16.4551 14.437 15.4881 16.0008 14.0016 16.0008H2.00255C0.51598 16.0008 -0.450941 14.437 0.213489 13.1073L6.21349 1.10533ZM7.0797 11.5819V13.2303H8.92638V11.5819H7.0797ZM7.13634 3.99302V6.6522L7.57677 10.6737H8.41564L8.86974 6.63951V3.99302H7.13634Z"
                          fill="#D22D2D" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="custom_form_item is-action">
                  <input type="submit" class="custom_form_item_btn --dark" value="Отправить">
                  <a href="#" class="custom_form_item_btn --gray">
                    Вернуться назад
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- footer %>