<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <title><%- title %></title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/src/scss/main-2v.scss" />
  <link rel="stylesheet" href="/src/scss/main-3v.scss" />
  <script type="module" src="/src/main.js"></script>
</head>

<body>

  <%- header %>

    <section class="tech_page">
      <div class="container">
        <div class="tech_page_wrap row">
          <div class="col-xl-5">
            <h1 class="tech_page_title">Политика конфиденциальности</h1>
          </div>
          <div class="col-xl-7">
            <div class="tech_page_content">
              <h2 id="consent">Согласие на обработку и хранение персональных данных</h2>

              <p>Я, субъект персональных данных, предоставляю информированное согласие в соответствии со ст. 9
                Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», даю согласие Индивидуальному
                предпринимателю Феофановой Елизавете Андреевне, ИНН 772981431806, адрес: 119571, г. Москва,
                ул. Академика Анохина, 8к1, кв. 235 (далее - Оператор), на хранение и обработку своих персональных
                данных с использованием средств автоматизации и без использования таковых средств.</p>

              <p>Перечень моих персональных данных, на обработку, хранение и систематизацию которых я даю согласие:
                фамилия, имя, отчество, пол, возраст, дата и место рождения, номер основного документа,
                удостоверяющего личность, сведения о дате выдачи указанного документа и выдавшем его органе, код
                подразделения, адрес регистрации по месту жительства, адрес фактического проживания/доставки товара,
                номер телефона, адрес электронной почты, а также иные сведения, передаваемые субъектом персональных
                данных в связи с заключением договора купли-продажи в интернет-магазине и в розничных магазинах
                Оператора персональных данных, а также в связи с подачей заявления на возврат товара, с целью
                предоставления мне информации о продуктах/услугах Оператора, включая информацию рекламного характера,
                в том числе посредством информационной рассылки, либо в связи с заключением
                гражданско-правового/трудового договора.</p>

              <p>Разрешаю оператору производить автоматизированную, а также осуществляемую без использования средств
                автоматизации обработку, хранение, систематизацию и удаление моих персональных данных, а именно: сбор,
                запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                использование, обезличивание, блокирование, удаление, уничтожение персональных данных.</p>

              <p>Согласие действует в течение 25 (Двадцать пять) лет.</p>

              <p>Субъект персональных данных вправе отозвать настоящее согласие на обработку своих персональных данных,
                письменно уведомив об этом оператора.</p>

              <h2 id="policy">Политика обработки персональных данных</h2>

              <h3>1. Общие условия:</h3>
              <p><strong>1.1.</strong> Настоящая Политика определяет порядок обработки и защиты Индивидуальным
                предпринимателем Феофановой Елизаветой Андреевной, ИНН 772981431806, адрес: 119571, г. Москва,
                ул. Академика Анохина, 8к1, кв. 235 (далее – Оператор), информации о физических лицах (далее –
                Пользователи), которая может быть получена при использовании Пользователем услуг, предоставляемых
                посредством сайта addicted, расположенного по адресу в сети Интернет
                https://addicted-cashmere.com/ (далее – Сайт).</p>
              <p><strong>1.2.</strong> Целью настоящей Политики является регулирование получения и хранения оператором
                персональных данных, обеспечение надлежащей защиты информации о Пользователях, в том числе их
                персональных данных, от несанкционированного доступа и разглашения.</p>
              <p><strong>1.3.</strong> Отношения, связанные со сбором, хранением, распространением и защитой
                информации, предоставляемой Пользователем, регулируются настоящей Политикой, иными официальными
                документами Оператора и действующим законодательством Российской Федерации.</p>
              <p><strong>1.4.</strong> Вводя контактные данные в графах «оформление заказа», «заказать звонок»,
                «обратная связь» и используя Сайт и Сервисы, Пользователь выражает своё полное согласие с условиями
                настоящей Политики.</p>
              <p><strong>1.5.</strong> В случае несогласия Пользователя с условиями настоящей Политики использование
                Сайта и/или каких-либо Сервисов, доступных при использовании Сайта, должно быть немедленно
                прекращено.</p>

              <h3>2. Определения:</h3>
              <p><strong>2.1.</strong> Персональные данные - любая информация, относящаяся к прямо или косвенно
                определённому или определяемому физическому лицу (гражданину). К такой информации, в частности, можно
                отнести: ФИО, год, месяц, дата и место рождения, паспортные данные, адрес, сведения о семейном,
                социальном, имущественном положении, сведения об образовании, профессии, доходах, сведения о состоянии
                здоровья, данные, которые автоматически передаются Пользователем с помощью установленного на устройстве
                Пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о
                браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту), время
                доступа, адрес запрашиваемой страницы.</p>
              <p><strong>2.2.</strong> Данные о географическом положении Пользователя, о поставщике услуг интернета,
                данные, полученные от Пользователя в результате доступа к камере, микрофону и т.п. устройств.</p>
              <p><strong>2.3.</strong> Иная информация о Пользователе, обработка которой необходима в целях
                использования сайта.</p>
              <p><strong>2.4.</strong> Обработка персональных данных - любое действие (операция) или совокупность
                действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без
                использования таких средств. К таким действиям (операциям) можно отнести: сбор, получение, запись,
                систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение
                персональных данных. Обработка персональных данных осуществляется без ограничения срока.</p>

              <h3>3. Цели сбора, обработки и хранения информации, предоставляемой пользователями Сайта:</h3>
              <p><strong>3.1.</strong> Обработка персональных данных Пользователя осуществляется в соответствии с
                законодательством Российской Федерации в целях:</p>
              <ul>
                <li>обеспечения возможности оформления заказа на Сайте, направления Пользователем с помощью веб-формы
                  на сайте своих персональных данных (путем обращения к Оператору);</li>
                <li>обеспечения возможности иной обратной связи работников Оператора с Пользователем;</li>
                <li>обеспечения исполнения обязательств Оператора перед Пользователями;</li>
                <li>проведения статистических и иных исследований на основе обезличенных данных;</li>
                <li>иных целях, если соответствующие действия Оператора не противоречат действующему законодательству,
                  деятельности Оператора, и на проведение указанной обработки получено согласие.</li>
              </ul>

              <h3>4. Условия обработки персональной информации, предоставленной Пользователем, и ее передачи третьим
                лицам:</h3>
              <p><strong>4.1.</strong> Оператор принимает все необходимые меры для защиты персональных данных
                Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения.</p>
              <p><strong>4.2.</strong> Оператор предоставляет доступ к персональным данным Пользователя только тем
                работникам, подрядчикам и аффилированным лицам, которым эта информация необходима для обеспечения
                функционирования Сайта, Сервисов и оказания Услуг Пользователю.</p>
              <p><strong>4.3.</strong> Раскрытие предоставленной Пользователем информации может быть произведено лишь в
                соответствии с действующим законодательством Российской Федерации по требованию суда,
                правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации
                случаях.</p>

              <h3>5. Условия пользования Сайтом, Сервисами:</h3>
              <p><strong>5.1.</strong> Пользователь при пользовании Сайтом подтверждает, что:</p>
              <ul>
                <li>обладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию (создание учетной
                  записи) или использовать Услуги сайта;</li>
                <li>указывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта,
                  обязательные для заполнения поля для дальнейшего предоставления Услуг сайта помечены специальным
                  образом, вся иная информация предоставляется пользователем по его собственному усмотрению;</li>
                <li>ознакомлен с настоящей Политикой, выражает свое согласие с ней и принимает на себя указанные в ней
                  права и обязанности.</li>
              </ul>
              <p><strong>5.2.</strong> Оператор не проверяет достоверность получаемой (собираемой) информации о
                Пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения обязательств
                перед пользователем.</p>

              <p><strong>6.</strong> Пользователи сайта, используя сервисы, услуги Оператора, сообщив Оператору свои
                персональные данные, в том числе при посредничестве третьих лиц, признают своё согласие на обработку
                персональных данных в соответствии с настоящей Политикой.</p>

              <p><strong>7.</strong> Оператор осуществляет обработку персональных данных посредством совершения любого
                действия (операции) или совокупности действий (операций), совершаемых с использованием средств
                автоматизации или без использования таких средств, включая следующие: сбор; запись; систематизацию;
                накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передачу
                (распространение, предоставление, доступ); обезличивание; блокирование; удаление; уничтожение.</p>

              <p><strong>8.</strong> Обработка и хранение персональных данных Пользователей осуществляется в течение
                периода времени, необходимого для целей, в которых такие данные были предоставлены, либо в течение
                периода, предусмотренного законодательством, либо до момента, когда Пользователь не отзовет свое
                согласие на обработку персональных данных.</p>

              <p><strong>9.</strong> Пользователь может в любой момент отозвать свое согласие на обработку
                персональных данных. Для отзыва согласия на обработку персональных данных необходимо передать Оператору
                соответствующее письменное заявление. При этом Оператор должен прекратить их обработку или обеспечить
                прекращение такой обработки и, в случае если сохранение персональных данных более не требуется для
                целей их обработки и выполнения поручения, уничтожить персональные данные или обеспечить их уничтожение
                в срок, не превышающий 30 (тридцати) дней с даты поступления указанного заявления-отзыва.</p>

              <h3>10. Изменение Политики конфиденциальности. Применимое законодательство:</h3>
              <p><strong>10.1.</strong> Оператор имеет право вносить изменения в настоящую Политику конфиденциальности.
                При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция
                Политики вступает в силу с момента её размещения, если иное не предусмотрено новой редакцией
                Политики. Действующая редакция всегда находится на странице по адресу в сети Интернет
                https://addicted-cashmere.com/</p>
              <p><strong>10.2.</strong> К настоящей Политике и отношениям между Пользователем и Оператором,
                возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской
                Федерации.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- footer %>

</body>

</html>
