<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/src/scss/main-2v.scss" />
    <link rel="stylesheet" href="/src/scss/main-3v.scss" />
    <script type="module" src="/src/main.js"></script>
</head>

<body>

    <%- header %>

        <section class="shop">
            <div class="container">
                <h1 class="shop_title">
                    Магазины
                </h1>
                <div class="row shop_wrap">
                    <div class="col-xl-3 col-md-3 order-xl-0 order-md-0 order-1">
                        <div class="shop_wrap_gallery">
                            <div class="shop_wrap_gallery_image">
                                <img src="img/shop-page/shop_1.jpg" alt="Плетёная корзина с трикотажными изделиями"
                                    loading="eager" width="438" height="550">
                            </div>
                            <div class="shop_wrap_gallery_image">
                                <img src="img/shop-page/shop_2.jpg" alt="Три вязаных свитера с высоким воротом"
                                    loading="eager" width="438" height="550">
                            </div>
                        </div>
                    </div>
                    <div class="offset-xl-1 col-xl-8 offset-md-1 col-md-8">
                        <div class="shop_wrap_content">
                            <div class="shop_wrap_content_section">
                                <div class="shop_wrap_content_section_title">г. Москва</div>
                                <div class="shop_wrap_content_section_list">
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Бутик Adcted</div>
                                        <div class="shop_wrap_content_card_text">Москва,&nbsp;б. Патриарший
                                            переулок&nbsp;д.&nbsp;12
                                            стр 1</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">ЦУМ</div>
                                        <div class="shop_wrap_content_card_text">Москва, ул. Петровка 2</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Барвиха Luxury Village</div>
                                        <div class="shop_wrap_content_card_text">Москва, Рублево-Успенское шоссе, 8-й
                                            километр, 114, стр.2, д. Барвиха</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Цветной</div>
                                        <div class="shop_wrap_content_card_text">Москва, Цветной бульвар,
                                            15&nbsp;стр.&nbsp;1
                                        </div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Argesto</div>
                                        <div class="shop_wrap_content_card_text">Москва, Большая Грузинская ул., 61
                                            стр.2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop_wrap_content_section">
                                <div class="shop_wrap_content_section_title">г. Санкт-Петербург</div>
                                <div class="shop_wrap_content_section_list">
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">ДЛТ</div>
                                        <div class="shop_wrap_content_card_text">Санкт-Петербург, ул. большая
                                            конюшенная 21-23</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Jeans Only</div>
                                        <div class="shop_wrap_content_card_text">Санкт- Петербург, Невский проспект,
                                            125</div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop_wrap_content_section">
                                <div class="shop_wrap_content_section_title">Другие города</div>
                                <div class="shop_wrap_content_section_list">
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Lukse</div>
                                        <div class="shop_wrap_content_card_text">Новосибирск, Серебренниковская
                                            ул.&nbsp;31
                                        </div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Vip Avenue</div>
                                        <div class="shop_wrap_content_card_text">Казань, Малая Красная ул.&nbsp;3</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">L&rsquo;Atelier</div>
                                        <div class="shop_wrap_content_card_text">Нижний Новгород, Рождественская ул.
                                            32д</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Maxmoda</div>
                                        <div class="shop_wrap_content_card_text">Владивосток, ул. Уборевича, 17</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Select Store</div>
                                        <div class="shop_wrap_content_card_text">Магнитогорск, просп. Металлургов, 13
                                        </div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Residence</div>
                                        <div class="shop_wrap_content_card_text">Мурманск, ул. Челюскинцев, 31</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Persona</div>
                                        <div class="shop_wrap_content_card_text">Набережные Челны, просп. Хасана
                                            Туфана, д29В</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Actuale</div>
                                        <div class="shop_wrap_content_card_text">Хабаровск, ул. Истомина, 42</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Sebbi</div>
                                        <div class="shop_wrap_content_card_text">Махачкала, Сулеймана Стальского ул.,
                                            28</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Итальянский дом моды</div>
                                        <div class="shop_wrap_content_card_text">Тула, Красноармейский просп., 6</div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Fashion</div>
                                        <div class="shop_wrap_content_card_text">Белгород, ул. Пушкина 55</div>
                                    </div>
                                </div>
                            </div>
                            <div class="shop_wrap_content_section">
                                <div class="shop_wrap_content_section_title">Онлайн</div>
                                <div class="shop_wrap_content_section_list">
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">ЦУМ Online</div>
                                        <div class="shop_wrap_content_card_text">
                                            <a href="https://www.tsum.ru" target="_blank"
                                                rel="noopener noreferrer">www.tsum.ru</a>
                                        </div>
                                    </div>
                                    <div class="shop_wrap_content_card">
                                        <div class="shop_wrap_content_card_title">Ламода</div>
                                        <div class="shop_wrap_content_card_text">
                                            <a href="https://www.lamoda.ru" target="_blank"
                                                rel="noopener noreferrer">www.lamoda.ru</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- footer %>
