<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title><%- title %></title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="module" src="/src/main.js"></script>
</head>

<body>

    <%- header %>

        <section class="wishlist_page">
            <div class="container">
                <h1 class="wishlist_page_title">Избранное</h1>
                <div class="wishlist_page_content">
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-8.jpg" alt="Синий трикотажный топ" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Синий трикотажный топ</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">12 900 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-9.jpg" alt="Хлопковый вязаный комплект" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Хлопковый вязаный комплект</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">21 500 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-10.jpg" alt="Джемпер Breton" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Джемпер Breton</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">26 400 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-11.jpg" alt="Белая хлопковая майка" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Белая хлопковая майка</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">9 800 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <div class="product_card_media_badge">Sale</div>
                            <img src="img/catalog-page/catalog_card-12.jpg" alt="Леопардовый джемпер Distressed"
                                width="607" height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Леопардовый джемпер Distressed</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">25 900 ₽</span>
                                <span class="product_card_content_prices_price old">31 600 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <div class="product_card_media_badge">Sale</div>
                            <img src="img/catalog-page/catalog_card-13.jpg" alt="Серый джемпер Distressed" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Серый джемпер Distressed</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">24 700 ₽</span>
                                <span class="product_card_content_prices_price old">29 900 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-14.jpg" alt="Свитшот-поло Graphite" width="607"
                                height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Свитшот-поло Graphite</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">19 400 ₽</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product_card">
                        <div class="product_card_media">
                            <img src="img/catalog-page/catalog_card-15.jpg" alt="Костюм с контрастной отделкой"
                                width="607" height="806" loading="lazy">
                        </div>
                        <div class="product_card_content">
                            <h3 class="product_card_content_title">Костюм с контрастной отделкой</h3>
                            <div class="product_card_content_prices">
                                <span class="product_card_content_prices_price">32 800 ₽</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <%- footer %>