*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote {
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button,
input,
textarea,
svg * {
  transition: 0.4s;
}

a,
button,
input,
textarea {
  touch-action: manipulation;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

picture {
  display: flex;
  width: 100%;
}

iframe,
video {
  border: 0;
  display: block;
  max-width: 100%;
}

summary::-webkit-details-marker {
  display: none;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

p {
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input,
textarea,
select,
button {
  font: inherit;
  appearance: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

html {
  height: 100%;
}

input {
  cursor: text;
  text-align: left;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  touch-action: manipulation;
  cursor: pointer;
  text-align: center;
}

body {
  margin: 0;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

svg * {
  transition-property: fill, stroke;
}

.swiper {
  width: 100%;
  max-width: 100%;
}

*:focus-visible {
  outline: none;
}

.swiper-wrapper,
.swiper-slide,
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
